
html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.controls {
  margin-top: 1em;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 2em;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: white;
  font-family: Arial;
  font-size: 0.9em;
  margin-left: 0.75em;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  width: 401px;
}

.pac-container {
  font-family: Arial;
}

#type-selector {
  color: white;
  background-color: #4d90fe;
  padding: 5px 11px 0 11px;
}

#type-selector label {
  font-family: Arial;
  font-size: 0.8em;
  font-weight: 300;
}

